@import 'reset';


@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transform($property){
transform: $property;
-webkit-transform: $property;
-ms-transform: $property;
-o-transform: $property;
}

.wrap{
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 218, 219);
    @include flex(row, center , center );


    .page{
        width: 1600px;
        height: 700px;
        //background-color: aqua;
        @include flex(row, center ,center );



        .box1{
            width: 750px;
            height: 600px;
            //background-color: orange;
            @include flex(row, center , center );


            .image{
                width: 300px;
                height: 300px;
                background-image: url(./img/110250814_4126372347435643_1454351080667648440_n.jpg);
                background-size: cover;
                background-position: center;
                border: solid;
                
            }
        }

        .line{
            width: 3px;
            height: 500px;
            background-color: black;
        }

        .box2{
            width: 750px;
            height: 600px;
            //background-color: green;
            @include flex(column, center,center );


            .name{
                padding: 30px;
            }

            .bigtext{
                //margin-right: 30px;
                font-size: 40px;
                padding: 20px;
            }

            .text{
                width: 700px;
                height: 100px;
                //background-color: aqua;
                padding: 20px;
            }

            .butons{
                width: 500px;
                height: 70px;
                //background-color: red;
                @include flex(row, space-around , center );
                padding: 20px;

                .buton1 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    padding: 20px;
                }

                .buton2 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    padding: 20px;
                }


            }

            .media{
                width: 300px;
                height: 50px;
                //background-color: pink;
                @include flex(row, space-around , center );


                .insta{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/instagram.png);
                    background-position: center;
                    background-size: cover;
                }

                .facebook{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/facebook.png);
                    background-position: center;
                    background-size: cover;
                }

                .linkid{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/linkid.png);
                    background-position: center;
                    background-size: cover;
                }
            }
        }


    }

    
}