@import 'reset';


@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transform($property){
transform: $property;
-webkit-transform: $property;
-ms-transform: $property;
-o-transform: $property;
}

.wrap{
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 218, 219);
    @include flex(row, center , center );


    .page{
        max-width: 1600px;
        height: 700px;
        //background-color: aqua;
        @include flex(row, center ,center );
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }



        .box1{
            width: 100%;
            max-width: 750px;
            height: 600px;
            //background-color: orange;
            @include flex(row, center , center );


            .image{
                width: 300px;
                height: 300px;
                background-image: url(./img/110250814_4126372347435643_1454351080667648440_n.jpg);
                background-size: cover;
                background-position: center;
                border: solid;

                @media screen and (max-width: 650px) {
                    width: 250px;
                    height: 250px;
                    
                }
                
            }
        }

        .line{
            width: 3px;
            height: 500px;
            background-color: black;

            @media screen and (max-width: 900px) {
                display: none;
            }
        }

        .box2{
            width: 100%;
            max-width: 750px;
            height: 600px;
            //background-color: green;
            @include flex(column, center,center );


            .name{
                padding: 30px;
            }

            .bigtext{
                //margin-right: 30px;
                font-size: 40px;
                padding: 20px;
                @media screen and (max-width:850px) {
                    font-size: 30px;
                }
                @media screen and (max-width:650px) {
                    font-size: 18px;
                }

            }

            .text{
                max-width: 700px;
                height: 100px;
                //background-color: aqua;
                padding: 20px;
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                    
                }
            }

            .butons{
                width: 100%;
                max-width: 500px;
                height: 70px;
                //background-color: red;
                @include flex(row, space-around , center );
                padding: 20px;

                @media screen and (max-width: 860px) {
                    margin: 0 20px;
                }

                .buton1 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    padding: 20px;

                    .butnsize:hover{
                        background-color: black;
                        color: aliceblue;
                    }
                }

                .buton2 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    padding: 20px;
                    
                    .butnsize:hover{
                        background-color: black;
                        color: aliceblue;
                    }

                }


            }

            .media{
                width: 100%;
                max-width: 300px;
                height: 50px;
                //background-color: pink;
                @include flex(row, space-around , center );
                @media screen and (max-width: 860px) {
                    margin: 0 10px;
                }

                .insta{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/instagram.png);
                    background-position: center;
                    background-size: cover;
                    transition: 0.3s;

                    &:hover{
                        transform: translateY(-5px);
                    }
                }

                .facebook{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/facebook.png);
                    background-position: center;
                    background-size: cover;
                    transition: 0.3s;

                    &:hover{
                        transform: translateY(-5px);
                    }
                }

                .linkid{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/linkid.png);
                    background-position: center;
                    background-size: cover;
                    transition: 0.3s;

                    &:hover{
                        transform: translateY(-5px);
                    }
                }
            }
        }


    }

    
}