@import 'reset';


@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transform($property){
transform: $property;
-webkit-transform: $property;
-ms-transform: $property;
-o-transform: $property;
}

.wrap{
    width: 100%;
    min-height: 100vh;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    //background-color: rgb(216, 218, 219);
    @include flex(column, center , center );


    .page{
        width: 100%;
        min-height: 100vh;
        //max-width: 1600px;
        //height: 700px;
        
        @include flex(row, center ,center );
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }



        .box1{
            width: 100%;
            max-width: 750px;
            height: 600px;
            //background-color: orange;
            @include flex(row, center , center );


            .image{
                width: 300px;
                height: 300px;
                background-image: url(./img/110250814_4126372347435643_1454351080667648440_n.jpg);
                background-size: cover;
                background-position: center;
                border: solid;

                @media screen and (max-width: 650px) {
                    width: 250px;
                    height: 250px;
                    
                }
                
            }
        }

        .line{
            width: 3px;
            height: 500px;
            background-color: black;

            @media screen and (max-width: 900px) {
                display: none;
            }
        }

        .box2{
            width: 100%;
            max-width: 750px;
            height: 600px;
            //background-color: green;
            @include flex(column, center,center );


            .name{
                padding: 30px;
            }

            .bigtext{
                //margin-right: 30px;
                font-size: 40px;
                padding: 20px;
                @media screen and (max-width:850px) {
                    font-size: 30px;
                }
                @media screen and (max-width:650px) {
                    font-size: 18px;
                }

            }

            .text{
                max-width: 700px;
                height: 100px;
                //background-color: aqua;
                padding: 20px;
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                    
                }
            }

            .butons{
                width: 100%;
                max-width: 500px;
                height: 70px;
                //background-color: red;
                @include flex(row, space-around , center );
                padding: 20px;

                @media screen and (max-width: 860px) {
                    margin: 0 20px;
                }

                .buton1 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    padding: 20px;

                    .butnsize:hover{
                        background-color: black;
                        color: aliceblue;
                    }
                }

                .buton2 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    padding: 20px;
                    
                    .butnsize:hover{
                        background-color: black;
                        color: aliceblue;
                    }

                }


            }

            .media{
                width: 100%;
                max-width: 300px;
                height: 50px;
                //background-color: pink;
                @include flex(row, space-around , center );
                @media screen and (max-width: 860px) {
                    margin: 0 10px;
                }

                .insta{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/instagram.png);
                    background-position: center;
                    background-size: cover;
                    transition: 0.3s;

                    &:hover{
                        transform: translateY(-5px);
                    }
                }

                .facebook{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/facebook.png);
                    background-position: center;
                    background-size: cover;
                    transition: 0.3s;

                    &:hover{
                        transform: translateY(-5px);
                    }
                }

                .linkid{
                    width: 30px;
                    height: 30px;
                    background-image: url(./img/linkid.png);
                    background-position: center;
                    background-size: cover;
                    transition: 0.3s;

                    &:hover{
                        transform: translateY(-5px);
                    }
                }
            }
        }


    }


    .page2{
        width: 100%;
        min-height: 100vh;
        //background-color: orange;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        
        @include flex(column, center, center);

        .txt1{
            margin: 20px;
        }
        
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            width: 300px;
            height: 40px;
            margin: 5px;
            padding: 0 10px;
            border: none;
            box-shadow: 0 0 10px #ccc;
            outline-color: rgb(91, 183, 91);
        }
        textarea{
            width: 300px;
            height: 150px;
            margin: 5px;
            padding: 10px;
            border: none;
            box-shadow: 0 0 10px #ccc;
            outline-color: rgb(91, 183, 91);
            resize: none;
        }
        button{
            width: 300px;
            height: 40px;
            margin: 5px;
            background-color: rgb(91, 183, 91);
            color: #fff;
            border: none;
            
        }
    }

    }

    .page3{
        width: 100%;
        min-height: 100vh;
        //background-color: pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .box3{
            width: 100%;
            max-width: 1100px;
            min-height: 650px;
            //background-color: gold;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            .line1{
                width: 100%;
                max-width: 1000px;
                min-height: 280px;
                //background-color: green;
                margin: 20px;

                display: flex;
                justify-content: space-around;
                align-items: center;

                 @media screen and (max-width: 800px) {
            flex-direction: column;
            height: auto;
        }

                .card1{
                    width: 280px;
                    height: 250px;
                    //background-color: red;
                    border-radius: 12px;
                    border: solid;
                    
                    @include flex(column,center ,center );
                    @media screen and (max-width:900px) {
                        width: 240px;
                        height: 220px;
                    }

                    // display: flex;
                    // flex-direction: column;
                    // justify-content: center;
                    // align-items: center;

                    .pic1{
                        width: 280px;
                        height: 210px;
                        //background-color: aqua;
                        background-image: url(./img/pic1.jpg);
                        border-radius: 12px;
                        background-position: center;
                        background-size: cover;

                        @media screen and (max-width:900px) {
                        width: 220px;
                        height: 190px;
                    }
                    }

                    .but1{
                        width: 280px;
                        height: 125px;
                        //background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .buton3 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    
                    
                    .butnsize:hover{
                        background-color: rgb(218, 95, 95);
                        color: aliceblue;
                    }

                }

                  
                        
                    }
                }

                .card2{
                    width: 280px;
                    height: 250px;
                    
                    border: solid;
                    border-radius: 12px;

                    @include flex( column, center , center );
                    @media screen and (max-width:900px) {
                        width: 240px;
                        height: 220px;
                        
                    }

                    .pic2{
                        width: 280px;
                        height: 210px;
                        background-image: url(./img/pic2.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 12px;

                        @media screen and (max-width:900px) {
                        width: 220px;
                        height: 190px;
                    }
                    }

                    .but2{
                        width: 280px;
                        height: 125px;
                        @include flex(row, center ,center );

                      .buton4 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    
                    
                    .butnsize:hover{
                        background-color: rgb(218, 95, 95);
                        color: aliceblue;
                    }

                }

                    }

                }

                .card3{
                    width: 280px;
                    height: 250px;
                    //background-color: rgb(0, 255, 170);
                    border: solid;
                    border-radius: 12px;

                    @include flex( column, center , center );
                    @media screen and (max-width:900px) {
                        width: 240px;
                        height: 220px;
                    }

                     .pic3{
                        width: 280px;
                        height: 210px;
                        background-image: url(./img/pic3.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 12px;

                        @media screen and (max-width:900px) {
                        width: 220px;
                        height: 190px;
                    }
                    }

                     .but3{
                        width: 280px;
                        height: 125px;
                        @include flex(row, center ,center );

                      .buton5 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    
                    
                    .butnsize:hover{
                        background-color: rgb(218, 95, 95);
                        color: aliceblue;
                    }

                }


                    }

                }

            }

            .line2{
                width: 100%;
            max-width: 1000px;
            min-height: 280px;
            //background-color: purple;

                display: flex;
                justify-content: space-around;
                align-items: center;

                 @media screen and (max-width: 800px) {
            flex-direction: column;
            height: auto;
        }

                .card4{
                    width: 280px;
                    height: 250px;
                    //background-color: rgb(56, 20, 187);
                    border: solid;
                    border-radius: 12px;

                    @include flex( column, center , center );
                    @media screen and (max-width:900px) {
                        width: 240px;
                        height: 220px;
                    }

                     .pic4{
                        width: 280px;
                        height: 210px;
                        background-image: url(./img/pic4.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 12px;

                        @media screen and (max-width:900px) {
                        width: 220px;
                        height: 190px;
                    }
                    }

                    .but4{
                        width: 280px;
                        height: 125px;
                        @include flex(row, center ,center );

                      .buton6 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                    
                    
                    .butnsize:hover{
                        background-color: rgb(218, 95, 95);
                        color: aliceblue;
                    }

                }


                    }

                }

                .card5{
                    width: 280px;
                    height: 250px;
                    //background-color: rgb(255, 115, 0);
                    border: solid;
                    border-radius: 12px;

                    @include flex( column, center , center );
                    @media screen and (max-width:800px) {
                        width: 240px;
                        height: 220px;
                    }

                     .pic5{
                        width: 280px;
                        height: 210px;
                        background-image: url(./img/pic5.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 12px;

                        @media screen and (max-width:900px) {
                        width: 220px;
                        height: 190px;
                    }
                    }
                    .but5{
                        width: 280px;
                        height: 125px;
                        @include flex(row, center ,center );

                      .buton7 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                                        
                    .butnsize:hover{
                        background-color: rgb(218, 95, 95);
                        color: aliceblue;
                    }

                }

                    }

                }

                .card6{
                    width: 280px;
                    height: 250px;
                    //background-color: rgb(33, 173, 127);
                    border: solid;
                    border-radius: 12px;

                    @include flex( column, center , center );
                    @media screen and (max-width:900px) {
                        width: 240px;
                        height: 220px;
                    }

                     .pic6{
                        width: 280px;
                        height: 210px;
                        background-image: url(./img/pic6.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 12px;

                        @media screen and (max-width:900px) {
                        width: 220px;
                        height: 190px;
                    }
                    }
                     .but6{
                        width: 280px;
                        height: 125px;
                        @include flex(row, center ,center );

                      .buton8 {
                    .butnsize{
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                                        
                    .butnsize:hover{
                        background-color: rgb(218, 95, 95);
                        color: aliceblue;
                    }

                }

                    }
                }

            }
            

        }



    }

    .page4{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .box4{
            width: 100%;
            max-width: 1100px;
            height: 680px;
            //background-color: aquamarine;
            @include flex(row,center ,center );

             @media screen and (max-width: 800px) {
            flex-direction: column;
        }

            .softskil{
                width: 100%;
                max-width: 500px;
                height: 600px;
                //background-color: palevioletred;
                margin: 0 30px;
                @include flex(column, center ,center );
                border: solid;
                border-radius: 12px;

                 @media screen and (max-width:900px) {
                        width: 370px;
                        height: 300px;
                        font-size: 12px;
                    }

            }

            .hardskil{
                 width: 100%;
                max-width: 500px;
                height: 600px;
                //background-color: teal;
                margin: 20px;
                @include flex(column, center , center);
                border: solid;
                border-radius: 12px;

                
                 @media screen and (max-width:900px) {
                        width: 370px;
                        height: 300px;
                        font-size: 12px;
                    }
                
            }

        }
    }




    
}