* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgb(42, 123, 155) 0%, rgb(87, 199, 133) 50%, rgb(237, 221, 83) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .wrap .page {
    flex-direction: column;
  }
}
.wrap .page .box1 {
  width: 100%;
  max-width: 750px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrap .page .box1 .image {
  width: 300px;
  height: 300px;
  background-image: url(./img/110250814_4126372347435643_1454351080667648440_n.jpg);
  background-size: cover;
  background-position: center;
  border: solid;
}
@media screen and (max-width: 650px) {
  .wrap .page .box1 .image {
    width: 250px;
    height: 250px;
  }
}
.wrap .page .line {
  width: 3px;
  height: 500px;
  background-color: black;
}
@media screen and (max-width: 900px) {
  .wrap .page .line {
    display: none;
  }
}
.wrap .page .box2 {
  width: 100%;
  max-width: 750px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .page .box2 .name {
  padding: 30px;
}
.wrap .page .box2 .bigtext {
  font-size: 40px;
  padding: 20px;
}
@media screen and (max-width: 850px) {
  .wrap .page .box2 .bigtext {
    font-size: 30px;
  }
}
@media screen and (max-width: 650px) {
  .wrap .page .box2 .bigtext {
    font-size: 18px;
  }
}
.wrap .page .box2 .text {
  max-width: 700px;
  height: 100px;
  padding: 20px;
}
@media screen and (max-width: 500px) {
  .wrap .page .box2 .text {
    font-size: 14px;
  }
}
.wrap .page .box2 .butons {
  width: 100%;
  max-width: 500px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
@media screen and (max-width: 860px) {
  .wrap .page .box2 .butons {
    margin: 0 20px;
  }
}
.wrap .page .box2 .butons .buton1 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page .box2 .butons .buton1 {
  padding: 20px;
}
.wrap .page .box2 .butons .buton1 .butnsize:hover {
  background-color: black;
  color: aliceblue;
}
.wrap .page .box2 .butons .buton2 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page .box2 .butons .buton2 {
  padding: 20px;
}
.wrap .page .box2 .butons .buton2 .butnsize:hover {
  background-color: black;
  color: aliceblue;
}
.wrap .page .box2 .media {
  width: 100%;
  max-width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 860px) {
  .wrap .page .box2 .media {
    margin: 0 10px;
  }
}
.wrap .page .box2 .media .insta {
  width: 30px;
  height: 30px;
  background-image: url(./img/instagram.png);
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}
.wrap .page .box2 .media .insta:hover {
  transform: translateY(-5px);
}
.wrap .page .box2 .media .facebook {
  width: 30px;
  height: 30px;
  background-image: url(./img/facebook.png);
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}
.wrap .page .box2 .media .facebook:hover {
  transform: translateY(-5px);
}
.wrap .page .box2 .media .linkid {
  width: 30px;
  height: 30px;
  background-image: url(./img/linkid.png);
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}
.wrap .page .box2 .media .linkid:hover {
  transform: translateY(-5px);
}
.wrap .page2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .page2 .txt1 {
  margin: 20px;
}
.wrap .page2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .page2 form input {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 0 10px;
  border: none;
  box-shadow: 0 0 10px #ccc;
  outline-color: rgb(91, 183, 91);
}
.wrap .page2 form textarea {
  width: 300px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px #ccc;
  outline-color: rgb(91, 183, 91);
  resize: none;
}
.wrap .page2 form button {
  width: 300px;
  height: 40px;
  margin: 5px;
  background-color: rgb(91, 183, 91);
  color: #fff;
  border: none;
}
.wrap .page3 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 {
  width: 100%;
  max-width: 1100px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 .line1 {
  width: 100%;
  max-width: 1000px;
  min-height: 280px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .wrap .page3 .box3 .line1 {
    flex-direction: column;
    height: auto;
  }
}
.wrap .page3 .box3 .line1 .card1 {
  width: 280px;
  height: 250px;
  border-radius: 12px;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line1 .card1 {
    width: 240px;
    height: 220px;
  }
}
.wrap .page3 .box3 .line1 .card1 .pic1 {
  width: 280px;
  height: 210px;
  background-image: url(./img/pic1.jpg);
  border-radius: 12px;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line1 .card1 .pic1 {
    width: 220px;
    height: 190px;
  }
}
.wrap .page3 .box3 .line1 .card1 .but1 {
  width: 280px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 .line1 .card1 .but1 .buton3 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page3 .box3 .line1 .card1 .but1 .buton3 .butnsize:hover {
  background-color: rgb(218, 95, 95);
  color: aliceblue;
}
.wrap .page3 .box3 .line1 .card2 {
  width: 280px;
  height: 250px;
  border: solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line1 .card2 {
    width: 240px;
    height: 220px;
  }
}
.wrap .page3 .box3 .line1 .card2 .pic2 {
  width: 280px;
  height: 210px;
  background-image: url(./img/pic2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line1 .card2 .pic2 {
    width: 220px;
    height: 190px;
  }
}
.wrap .page3 .box3 .line1 .card2 .but2 {
  width: 280px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 .line1 .card2 .but2 .buton4 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page3 .box3 .line1 .card2 .but2 .buton4 .butnsize:hover {
  background-color: rgb(218, 95, 95);
  color: aliceblue;
}
.wrap .page3 .box3 .line1 .card3 {
  width: 280px;
  height: 250px;
  border: solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line1 .card3 {
    width: 240px;
    height: 220px;
  }
}
.wrap .page3 .box3 .line1 .card3 .pic3 {
  width: 280px;
  height: 210px;
  background-image: url(./img/pic3.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line1 .card3 .pic3 {
    width: 220px;
    height: 190px;
  }
}
.wrap .page3 .box3 .line1 .card3 .but3 {
  width: 280px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 .line1 .card3 .but3 .buton5 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page3 .box3 .line1 .card3 .but3 .buton5 .butnsize:hover {
  background-color: rgb(218, 95, 95);
  color: aliceblue;
}
.wrap .page3 .box3 .line2 {
  width: 100%;
  max-width: 1000px;
  min-height: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .wrap .page3 .box3 .line2 {
    flex-direction: column;
    height: auto;
  }
}
.wrap .page3 .box3 .line2 .card4 {
  width: 280px;
  height: 250px;
  border: solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line2 .card4 {
    width: 240px;
    height: 220px;
  }
}
.wrap .page3 .box3 .line2 .card4 .pic4 {
  width: 280px;
  height: 210px;
  background-image: url(./img/pic4.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line2 .card4 .pic4 {
    width: 220px;
    height: 190px;
  }
}
.wrap .page3 .box3 .line2 .card4 .but4 {
  width: 280px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 .line2 .card4 .but4 .buton6 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page3 .box3 .line2 .card4 .but4 .buton6 .butnsize:hover {
  background-color: rgb(218, 95, 95);
  color: aliceblue;
}
.wrap .page3 .box3 .line2 .card5 {
  width: 280px;
  height: 250px;
  border: solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .wrap .page3 .box3 .line2 .card5 {
    width: 240px;
    height: 220px;
  }
}
.wrap .page3 .box3 .line2 .card5 .pic5 {
  width: 280px;
  height: 210px;
  background-image: url(./img/pic5.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line2 .card5 .pic5 {
    width: 220px;
    height: 190px;
  }
}
.wrap .page3 .box3 .line2 .card5 .but5 {
  width: 280px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 .line2 .card5 .but5 .buton7 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page3 .box3 .line2 .card5 .but5 .buton7 .butnsize:hover {
  background-color: rgb(218, 95, 95);
  color: aliceblue;
}
.wrap .page3 .box3 .line2 .card6 {
  width: 280px;
  height: 250px;
  border: solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line2 .card6 {
    width: 240px;
    height: 220px;
  }
}
.wrap .page3 .box3 .line2 .card6 .pic6 {
  width: 280px;
  height: 210px;
  background-image: url(./img/pic6.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .wrap .page3 .box3 .line2 .card6 .pic6 {
    width: 220px;
    height: 190px;
  }
}
.wrap .page3 .box3 .line2 .card6 .but6 {
  width: 280px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrap .page3 .box3 .line2 .card6 .but6 .buton8 .butnsize {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.wrap .page3 .box3 .line2 .card6 .but6 .buton8 .butnsize:hover {
  background-color: rgb(218, 95, 95);
  color: aliceblue;
}
.wrap .page4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .page4 .box4 {
  width: 100%;
  max-width: 1100px;
  height: 680px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .wrap .page4 .box4 {
    flex-direction: column;
  }
}
.wrap .page4 .box4 .softskil {
  width: 100%;
  max-width: 500px;
  height: 600px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .wrap .page4 .box4 .softskil {
    width: 370px;
    height: 300px;
    font-size: 12px;
  }
}
.wrap .page4 .box4 .hardskil {
  width: 100%;
  max-width: 500px;
  height: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .wrap .page4 .box4 .hardskil {
    width: 370px;
    height: 300px;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */